.o_kanban_view .o_kanban_group {
  padding: 0 5px
}

.o_kanban_view .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_column_title {
  font-size: 14px;
}

.o_kanban_counter {
  margin-bottom: 10px;
}

.o_kanban_counter > .o_kanban_counter_progress {
  width: 85%;
  height: 8px;
}

.o_kanban_counter > .o_kanban_counter_side {
  width: 15%;
}

.progress {
  border-radius: 0;
}

.o_kanban_view .o_kanban_record {
  margin: 0 0 10px;
  border-color: #dddddd;
}

.o_kanban_view .o_kanban_record .o_kanban_record_title {
  font-size: 14px;
  font-weight: 400;
}

.o_kanban_view .o_kanban_record::after {
  background-color: #bbbbbb;
}

.o_kanban_view .o_kanban_group.o_kanban_has_progressbar > .o_kanban_header .o_kanban_header_title {
  margin-top: 10px;
}

.o_kanban_view.o_kanban_grouped {
  padding: 0 10px;
}