.o_list_view {
    tbody > tr.o_group_header {
        background-image: none;

        &:focus-within {
           background-image: none;
        }
    }
}


.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier) .o_input {
    padding: 9px 16px;
}