<section class="oe_container">
    <div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="oe_slogan" style="color:#337ab7;">CDM Backend Theme</h1>
			<h2 class="oe_slogan">The most popular backend theme for Odoo 13.0 Community</h2>
			<div class="oe_screenshot" style="text-align: center;">
				<h3 class="oe_slogan" style="color:#337ab7;">Enterprise look'n'feel App dashboard</h3>
				<img style="max-width: 100%;" src="screenshot1.png"/><br><br>
				<h3 class="oe_slogan" style="color:#337ab7;">Formview</h3>
				<img style="max-width: 100%;" src="screenshot2.png"/><br><br>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container" style="background-color:#E8E8E8; padding:20px 0px 90px 0px">
    <div class="oe_row">
        <div class="oe_span12">
            <div class="oe_centeralign">
                <p>You can change the App dashboard background under Company Settings.</p>
                <p>Remark: It is possible that the Odoo service needs to be restarted after install.</p>
            </div>
        </div>	
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">	
    <div class="oe_row">	
        <div class="oe_span12 oe_centeralign">	
            <br/>	
            <h3>Help & Support</h3>	
            <br/>	
                Website: <a href="https://www.cdmteck.com" target="_blank">CDM Technology</a><br/>	
                Contact: <a href="mailto:info@cdmteck.com" subject="CDM Backend Theme v01">Email Support</a><br/>	
            <br/>	
        </div>	
    </div>	
</section>

