.btn {
  padding: 0.5rem 1.2rem;
  border-radius: 0;

  span.carbon-icon, span[class^="icon-"] {
    margin-left: 10px;
    line-height: 16px;
    vertical-align: middle;

    &:before {
      font-size: 16px;
    }
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.btn-icon {
  padding: 0.5rem;

  span.carbon-icon, span[class^="icon-"] {
    margin-left: 0;
    display: block;
    font-size: 18px;
    text-align: center;
  }
}

.btn-h40 {
  height: 40px;
  line-height: 40px;
}

.btn-icon-circle {
  border-radius: 50%;
}

.btn-gray {
  background-color: #F3F3F3;
  border-color: #F3F3F3;
  color: #6F6F6F;
}

.btn-success {
  background-color: $color_success;
  border-color: $color_success;
  color: #ffffff;
}

.btn-danger {
  background-color: $color_danger;
  border-color: $color_danger;
  color: #ffffff;
}

.o_chatter_button_new_message {
  display: none;
}

.o_form_view .o_row > .btn.btn-get-rate-shipping {
  padding: 0.5rem 1.2rem;
}
