.cdm_statusbar_status {
  display: flex;
  margin-right: -9px;

  .status-btn {
    border: 0;
    display: block;
    outline: none;
    flex-grow: 1;
    margin-right: 9px;
    max-width: 48px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:before {
      content: '';
      border-radius: 2px;
      height: 4px;
      width: 100%;
      display: block;
      background: linear-gradient(139.26deg, #FFB502 0%, #FFD303 100%);
    }


    &:first-child:before {
      background: #8C8C8C;
    }

    &.active ~ .status-btn:before{
      background: #DCDCDC;
    }
  }

  &.text-success {
    .status-btn:before, .status-btn:first-child:before {
      background: $color_success;
    }
  }

  &.text-danger {
    .status-btn:before, .status-btn:first-child:before {
      background: $color_danger;
    }
  }
}