.o_web_client {
  //background-color: #ffffff;
}

//.o_action_manager {
//  margin-left: 48px;
//  margin-right: 48px;
//}

.dropdown {
  .full {
    width: 48px;
    text-align: center;
  }
}

.breadcrumb, .o_control_panel,
.o_form_view .o_form_statusbar,
.o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput {
  background-color: #F9F9F9;
}

.o_control_panel {
  padding: 15px;
}

.o_control_panel .breadcrumb > li {
  max-width: 500px !important;
}

/*--------------------------------------
   Checkboxes
---------------------------------------*/
table .custom-control.custom-checkbox {
  .custom-control-label {
    line-height: inherit;
  }
}

.custom-control.custom-checkbox {
  display: flex;
  justify-content: start;
  align-items: start;
  //margin-bottom: 10px;

  .custom-control-label {
    padding-left: 10px;
    line-height: 1.6;
    font-weight: 500;
    color: inherit;
    cursor: pointer;

    &:before {
      outline: none !important;
      width: 15px;
      height: 15px;
      border: 2px solid #6a6a6a;
      border-radius: 0;
    }

    &:after {
      width: 15px;
      height: 15px;
      background: no-repeat 50% / 65% 70%;
      top: 0.28rem;
      border-radius: 0;
    }
  }


  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color_success;
    background-color: $color_success;
    color: #e9ecef;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #6a6a6a;
  }

  &.partial-selected {
    .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #ffffff;
      color: $color_success;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3cpath fill='%2356D679' d='M 2 6 L12 6 L12 9 L2 9 L2 6 z'/%3e%3c/svg%3e");
      color: $color_success;
    }

  }
}


/*--------------------------------------
   Table
---------------------------------------*/
.table {
  &.table-sm th {
    line-height: 28px;
    border-bottom-width: 0;

    .custom-control-label {

      &:before, &:after {
        top: 6px;
      }
    }
  }
}

.o_list_view {
  .o_optional_columns_dropdown_toggle {
    top: 8px;
  }

  thead {
    background-color: #DCDCDC;
  }

  .o_list_table .o_column_sortable:not(.o_handle_cell) {
    padding-right: 26px;

    &:after {
      position: absolute;
      right: 0;
      margin-right: 10px;
    }
  }
}

//.o_control_panel {
//  border-bottom: none;
//}

.table-sm th, .table-sm td {
  padding: 0.6rem;
}

.custom-control.custom-checkbox .custom-control-label:before {
  border: 1px solid #ccc
}

.o_list_view thead {
  background-color: #F3F3F3;
}

.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
  border-left: none;
}

.o_list_view .o_list_table thead {
  color: #3D3D3D
}

// Scrollbar
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: #AAA;
  outline: 1px solid slategrey;
}


// Breadcrumb
.breadcrumb-item {
  font-size: 16px;
  line-height: 32px;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: 'carbon';
  content: '\e837';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 3px;
}

.breadcrumb-item.active {
  color: inherit;
}

.o_control_panel .breadcrumb > li:not(:nth-last-child(-n+2)) {
  display: none;
}

.o_control_panel .breadcrumb > li:nth-last-child(2) {
  padding-left: 0;

  &:before {
    display: none;
  }
}

// Header action in list view
.header-actions {
  .selected-records-indicator {
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
  }

  .header-action {
    display: inline-block;
    padding: 0 15px;

    span.action-text {
      color: #4c4c4c;
      display: inline-block;
      padding-right: 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    span.icon {
      color: $o-brand-odoo;
      font-size: 16px;
      line-height: 16px;
    }

    &.dropdown-toggle:after {
      line-height: 20px;
    }
  }
}

div.o_content > div.o_list_view {
  .o_optional_columns_dropdown_toggle {
    z-index: 201;
  }

  .table-responsive {
    table > .o_optional_columns_dropdown_toggle {
      display: none;
    }

    thead {
      border-bottom: none;

      th {
        position: sticky !important;
        z-index: 1;
        top: 0;
        background-color: #F3F3F3;
        border-bottom: 1px solid #cacaca;
      }
    }
  }
}

div.modal-content div.o_list_view {

  .table-responsive {
    thead {
      th {
        top: 0px;
      }
    }
  }
}

/*--------------------------------------
  Custom modal view
---------------------------------------*/
.modal-content {
  // Stick the headers button in modal views
  .o_form_statusbar {
    position: sticky;
    top: 0;
  }

  .o_form_view.o_form_nosheet .o_form_statusbar {
    margin-bottom: 0;
  }
}

.o_view_nocontent .o_nocontent_help .o_view_nocontent_smiling_face {
  &:before {
    background: transparent url(/cdm_theme/static/src/img/smiling_face.svg) no-repeat center;
  }
}

table.o_list_table > .o_optional_columns_dropdown_toggle {
  display: none;
}

//Custom table

div.o_content > div.o_list_view {
  .table th, .table td {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
  }
  .table-responsive thead th {
    background-color: #FFFFFF;
    border-bottom: 1px solid #cacaca;
    border-top: 0;
  }
}


.o_list_view.cdm_inputted_form_list .o_list_table tbody > tr > td.o_list_button {
  text-align: center;
  vertical-align: middle;
}

td.o_list_button {
  overflow: unset !important;
}

.actions-row {
  position: sticky;
  display: none;
  background-color: $color_bgc;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #dee2e6 !important;

  th {
    overflow: unset !important;

    &.o_list_record_selector {
      width: 40px !important;
    }
  }
}

.o_list_view.on-selected {
  .actions-row {
    display: table-row;
  }
  .o_list_table {
    thead tr {
      visibility: collapse;
    }
  }
}

.o_list_view .o_list_table thead th.action-cell {
  background-color: $color_bgc;
  width: 100% !important;

  &:focus-within {
    background-color: $color_bgc;
  }
}

.max-width-300 {
  max-width: 300px !important;
}

.text-overflow-500 {
  @include o-text-overflow(inline-block, 500px)
}

.cdm-list-avatar {
  width: 26px;
  height: 26px;
  top: -2px;
  overflow: hidden;
  margin: -4px 0;
  line-height: 1;
  vertical-align: middle;

  &.circle {
    border-radius: 50%;
  }
}

.avatar.circle {
  overflow: hidden;
  border-radius: 50%;
}
