.o_list_view .o_list_table, .o_form_view, .list-data {
  .cdm_tag {
    @each $color, $value in $theme-colors {
      &.text-#{$color} {
        color: #FFFFFF !important;
        background-color: $value !important;
      }
    }

    &.text-muted {
      color: #FFFFFF !important;
      background-color: $text-muted !important;
    }

    color: #FFFFFF;
    background-color: #6EA6FF;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    min-height: auto !important;
    line-height: inherit !important;
    font-size: 12px;
  }
}
