.o_input {
  border-radius: 0;
  padding: 9px 16px 9px 16px;
  min-height: 40px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: #F3F3F3;

  .o_input {
    padding: 0;
    min-height: auto;
  }

  &.o_field_widget {
    .o_input_dropdown .o_dropdown_button {
      &:after {
        top: -2px;
        right: 14px;
      }
    }
  }

  &.o_field_many2manytags {
    padding: 5px 16px;
    min-height: auto;

    .badge {
      padding: 0.6em 1em;
    }

    .o_input {
      padding: 0.3em;
    }
  }
}


.o_field_widget {
  &.o_field_many2manytags {
    .o_input_dropdown {
      .o_input {
        min-height: auto;
      }
    }
  }

  .o_input_dropdown {
    .o_input {
      min-height: 40px;
      padding-right: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .o_dropdown_button {
      &:after {
        position: absolute;
        right: 29px;
        top: 5px;
        font-size: 18px;
        font-family: 'carbon';
        content: '\e835';
        border: none;
      }
    }
  }

  .o_datepicker_button {
    &:after {
      position: absolute;
      right: 29px;
      top: 5px;
      font-size: 18px;
      font-family: 'carbon';
      content: '\e835';
      border: none;
    }
  }
}

select.o_field_widget.o_input {
  min-height: 40px;
  padding: 9px 24px 9px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/cdm_theme/static/src/img/chevron-down.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: calc(100% - 16px) center;
}

/*--------------------------------------
   Form
---------------------------------------*/
.o_form_view {
  table.o_group.o_inner_group:not(.o_invisible_modifier):not(.o_list_table):not(.odoo-style) {
    display: inline-block;

    > tbody {
      display: block;

      > tr {
        display: block;

        > td {
          display: block;

          > a.o_field_widget:not(.o_invisible_modifier),
          span.o_field_widget:not(.o_invisible_modifier):not(.o_row_handle) {
            line-height: 40px;
            min-height: 40px;
          }

          > div.o_field_widget.o_field_boolean {
            min-height: 32px;
            margin-top: 5px;
          }

          &.o_td_label {
            border-right: none;
            min-width: auto;
            width: 100%;
          }
        }
      }
    }
  }

  .o_group, .o_notebook {
    .o_td_label + td {
      padding: 0 36px 0 0;
    }
  }

  .remove-group-item-right-space {
    .o_group, .o_notebook {
      .o_td_label + td {
        padding: 0 0 0 0;
      }

      .o_external_button {
        padding-left: 5px;
        padding-right: 5px;
        z-index: 100;
      }
    }
  }

  td.o_td_label {
    label {
      margin-bottom: 0;
    }
  }

  &.o_form_readonly {
    .o_field_empty:not(.o_invisible_modifier) {
      display: block !important;
      opacity: 0;
    }

    .o_field_empty.o_field_image {
      opacity: 1;
    }

    a.o_field_widget {
      line-height: 40px;
      min-height: 40px;
    }
  }

  &.o_form_editable {
    div.o_field_empty:not(.o_invisible_modifier),
    input.o_field_empty:not(.o_invisible_modifier) {
      display: block !important;
      opacity: 0;
      line-height: 40px;
      min-height: 40px;
    }
  }

  .remove-group-vertical-space, &.remove-group-vertical-space {
    .o_group {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .small-group-vertical-space, &.small-group-vertical-space {
    .o_group {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}


/*--------------------------------------
  Select2
---------------------------------------*/
.o_field_widget.select2-container {
  padding: 0;

  a.select2-choice {
    padding: 0;
    border: none;
    border-radius: 0;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
  }

  .select2-choice .select2-arrow {
    background: no-repeat;
    border: none;
    right: 16px;

    b {
      background: none;

      &:after {
        font-size: 18px;
        font-family: 'carbon';
        content: '\e835';
        position: absolute;
        right: -2px;
        font-weight: normal;
      }
    }
  }

  .select2-choice abbr {
    top: 13px;
    right: 40px;
  }

  .select2-default {
    color: $input-placeholder-color !important;
  }
}


/*--------------------------------------
   Notebook and page
---------------------------------------*/
.o_notebook {
  &.header-no-padding {
    .nav-tabs {
      margin-left: -16px;
      margin-right: -16px;
      z-index: 1;
    }
  }
}

.nav-tabs {
  border-bottom: 2px solid $border_color;

  .nav-item {
    display: flex;
    align-items: stretch;
    margin-bottom: -2px;
  }

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 2px solid transparent;
    color: inherit;
    padding: 6px 0;
    margin: 0 14px;
  }

  .nav-link.active, .nav-item.show .nav-link {
    background-color: transparent;
    border-color: $primary;
    font-weight: 600;
  }

  .tab {

  }

  .tab-icon {
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    margin-right: 11px;
    color: $primary;
  }

  .o_field_widget {
    margin-bottom: 0;
  }
}

.tab-header-uppercase {
  .nav-tabs {
    border-bottom: 2px solid $border_color;

    .nav-item {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
    }

    .nav-link.active, .nav-item.show .nav-link {
      color: $primary;
      font-weight: 500;
    }
  }

  @media (max-width: 1500px) {
    .nav-tabs {
      .nav-link {
        padding: 2px 0;
      }

      .tab-icon {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }
}

.tab-header-sticky {
  .nav-tabs {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
  }
}

.o_field_widget.o_field_many2manytags .o_tag_color_0 {
  background-color: #C9DEFF;
  color: #4c4c4c;
  box-shadow: none;
}

.badge-pill {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/*--------------------------------------
   DATE PICKER
---------------------------------------*/
div.dropdown-menu.bootstrap-datetimepicker-widget {
  width: 21rem;

  table td {
    padding: 0.3em;
  }
}


// Fix display error of button translated button with textarea
.o_form_view span.o_field_translate {
  line-height: 40px;
  min-height: 40px;
  text-align: center;
}

.o_field_text.o_field_translate + textarea[disabled] {
  display: none;
}

.phone-selection > .btn {
  min-height: 25px;
}
