body {
  font-family: 'Archivo', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.16px;
}

/*--------------------------------------
   MENU
---------------------------------------*/
.o_main_navbar {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 20px;
  }

  > ul > li > a, > ul > li > label {
    padding-left: 15px;
    padding-right: 15px;

    &.active:not(:hover) {
      background-color: #054ADA;
    }
  }

  //> ul > li > a, > ul > li > label {
  //  &:hover:not(.active) {
  //    background-color: #0354E9;
  //  }
  //}

  .show .dropdown-toggle:not(.active) {
    background-color: #0354E9;
  }

  .dropdown-menu {
    padding: 0;
    border-radius: 0;

    .dropdown-header {
      font-size: 14px;
      line-height: 34px;
      font-weight: 600;

      &:not(:first-child) {
        border-top: 1px solid #DCDCDC;
      }
    }

    .dropdown-item {
      line-height: 34px;
      min-width: 200px;
    }

    &.show .o_menu_entry_lvl_3 {
      padding-left: 20px;
    }

    &.show .o_menu_entry_lvl_4 {
      padding-left: 32px;
    }

  }

  .o_menu_apps {
    .dropdown-item {
      padding: 3px 15px !important;
      display: flex;
      align-items: center;
      line-height: 42px;

      img {
        width: 25px;
        margin-right: 15px;
      }
    }
  }
}

.o_menu_systray {
  > li > a {
    min-width: 48px;
    text-align: center;
  }
}

.o_main_navbar .o_user_menu {
  margin: 0;
}

.dropdown-toggle::after {
  font-family: 'carbon';
  content: '\e835';
  display: inline-block;
  margin-left: 0.255em;
  border: none;
  vertical-align: unset;
}

.o_main_navbar .o_user_menu {
  & > a {
    width: 48px;
    padding: 0 5px;
    text-align: center;
  }

  .user_info {
    line-height: 45px;
  }
}

.o_mail_systray_item .o_notification_counter {
  background-color: #FB4B53;
}

/*--------------------------------------
   Systray Search Bar
---------------------------------------*/
.cdm_theme_search_box {
  float: right;
  position: relative;

  .advanced_filter {
    border-top: 1px solid $color_border;

    .o_filter_condition {
      position: relative;
    }
  }
}

.cdm_theme_search_bar {
  margin-top: 6px;
  margin-right: 8px;

  .facets_container {
    display: flex;
    width: auto;
    transition: all 500ms;
  }

  .o_searchview_input_container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 36px;
    width: 350px;
    background-color: #1972FD;
    color: #ffffff;
    border-radius: 3px;

    .o_searchview_autocomplete {
      position: absolute;
      top: 100%;
      left: auto;
      bottom: auto;
      right: auto;
      @include o-position-absolute(100%, $left: auto);
      width: 100%;

      li {
        padding-left: 25px;
        position: relative;

        &.o-indent {
          padding-left: 50px;
        }

        a {
          display: inline-block;
          padding-left: 0px;
          padding-right: 0px;

          &:hover {
            background-color: inherit;
          }

          &.o-expand, &.o-expanded { // caret
            @include o-position-absolute($left: 6px);
          }

          &.o-expand:before {
            @include o-caret-right;
          }

          &.o-expanded:before {
            @include o-caret-down;
          }
        }
      }
    }

    .o_searchview_autocomplete li.o-selection-focus {
      background-color: $o-brand-odoo;

      > a {
        color: white;
      }
    }

    input.o_searchview_input {
      height: 36px;
      border: none;
      padding-left: 8px;
      background-color: transparent;
      color: inherit;
      width: 50px;
      flex: 1 0 auto;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder { /* Edge */
        color: #dbdbdb;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #dbdbdb;
      }

      &::placeholder {
        color: #dbdbdb;
      }
    }

    &.facets-1 {
      .o_searchview_facet {
        max-width: 240px;

        .o_searchview_facet_label {
          max-width: 100px;
        }
      }
    }

    &.advanced_search_opened {
      .facets_container {
        width: 0;
      }
    }

    .o_searchview_facet {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 12px;
      margin-left: 5px;
      max-width: 120px;
      overflow: hidden;

      &:first-child {
        margin-left: 8px;
      }

      &.on_input_focus {
        width: 0;
        margin-left: 0;
      }

      .o_searchview_facet_label {
        padding: 2px 5px 2px 8px;
        display: inline-block;
        background-color: #00A09D;
        line-height: 1.5;
        max-width: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        min-width: 22px;
      }

      .o_facet_values {
        background-color: #6EA6FF;
        border-bottom-right-radius: 18px;
        border-top-right-radius: 18px;
        padding: 2px 25px 2px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
      }

      .o_facet_remove {
        display: inline-block;
        position: absolute;
        right: 5px;
        cursor: pointer;

        &:before {
          font-size: 16px;
        }
      }
    }

    > button {
      border: none;
      margin: 0;
      padding: 0 8px;
      right: 0;
      background-color: transparent;
      color: inherit;
    }
  }
}

.extra_search_bar {
  &.o_searchview {
    border-radius: 0;
    border: none;
    padding: 0;

    .has_facets {
      padding: 10px 15px;
    }

    .o_searchview_facet {
      color: #fff;
      border: none;
      background-color: transparent;
      font-size: 12px;
      margin: 2px;

      .o_searchview_facet_label {
        background-color: #00A09D;
        padding: 2px 5px 2px 8px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
      }

      .o_facet_values {
        background-color: #6EA6FF;
        border-bottom-right-radius: 18px;
        border-top-right-radius: 18px;
        padding: 2px 25px 2px 5px;
      }

      .o_facet_remove {
        color: #fff;
        right: 4px;

        &:before {
          font-size: 16px;
        }
      }
    }
  }

  .o_searchview_input {
    display: none;
  }


}

/*--------------------------------------
   .o_searchview_advanced_search_box
---------------------------------------*/
.cdm_theme_advanced_search_box {
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: #fff;
  color: #4c4c4c;
  width: 400px;
  box-shadow: 0 2px 8px 0 rgba(188, 188, 188, 0.5);
}

.filter_box_container {
  display: flex;
  position: relative;

  > div {
    flex: 1;
    position: static;

    > button {
      width: 100%;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 2px;
      text-align: left;
      //padding-left: 10px !important;
      //padding-right: 10px !important;
      font-size: 14px;
      height: 40px;

      &.btn.active {
        border-bottom-color: $o-brand-odoo !important;
        background-color: #fff !important;
        font-weight: bold;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .o_dropdown_menu {
    position: absolute;
    width: 100%;
    top: 100% !important;
    left: 0;
    background-color: #fff;
    transform: translate(0) !important;
    border-radius: 0;
    border-top: 0;
    padding: 0;
    font-size: 14px;

    .dropdown-divider {
      margin: 0;
    }

    .dropdown-item {
      height: 40px;
      line-height: 40px;
      padding-top: 0;
      padding-bottom: 0;

      &.selected:before {
        left: 2px;
      }
    }

    .o_add_filter_menu {
      margin-bottom: 10px;
    }

    .o_filter_condition {
      max-width: none;

      .condition_selector {
        display: flex;
        align-items: center;
      }

      .o_or_filter {
        position: static;
      }

      .o_searchview_extended_delete_prop {
        position: static;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: #F3F3F3;
        font-size: 20px;
        line-height: 40px;
        margin: 0 0 0 4px;
        transition: all 200ms;

        &:hover {
          background-color: darken(#F3F3F3, 5%);
        }
      }

      .o_searchview_extended_prop_op {
        display: inline-block;
        width: 100px;
        margin: 0 0 0 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .o_searchview_extended_prop_field {
        display: inline-block;
        width: 215px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .o_searchview_extended_prop_value {
        .o_input {
          margin-top: 5px;
          border-bottom: 1px solid $color_border;
        }

        .o_datepicker_button {
          top: 8px;
          right: 22px;

          &:after {
            font-family: 'carbon';
            content: '\e835';
            font-size: 18px;
            border: none;
            vertical-align: unset;
          }
        }
      }
    }
  }

  .selection_wrapper {
    position: relative;

    &:after {
      position: absolute;
      right: 5px;
      top: 8px;
      font-size: 18px;
      font-family: 'carbon';
      content: '\e835';
    }
  }

  .o_group_by_menu {
    .o_apply_group {
      margin-bottom: 10px;
    }
  }

  .o_time_range_menu, .o_generator_menu {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  .o_favorite_name {
    padding-left: 0;
    padding-right: 0;

    .o_input {
      border-bottom: 1px solid $color_border;
    }
  }

  .o_save_favorite {
    padding-left: 0;

    button {
      margin: 10px 0;
    }
  }

  .o_time_range_menu {
    button.o_apply_range {
      margin: 10px 0;
    }
  }


  .o_input {
    height: 40px;
    background-color: #F3F3F3;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 2px 16px;
  }
}

/*--------------------------------------
   Custom control panel
---------------------------------------*/
.o_action_manager {
  .o_cp_searchview, .o_search_options {
    display: none;
  }

  .o_cp_controller {
    position: sticky;
    top: 0px;
    z-index: 2;

    .o_control_panel {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .breadcrumb {
        font-size: 20px;
      }

      > div:first-child {
        flex: 1;
      }

      .o_cp_left {
        margin-top: 0;
        align-items: center;

        .o_cp_buttons {
          display: flex;

          & > div {
            display: flex;

            button {
              margin-right: 5px;
            }
          }
        }
      }

      .o_cp_right {
        margin-top: 0;
        align-items: center;
        flex: auto;
        //margin-left: 50px;
      }

      /*--------------------------------------
         Settings views
      ---------------------------------------*/
      .o_panel {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}

/*--------------------------------------
   Custom menu
---------------------------------------*/
.o_main_navbar .o_menu_apps._underline .dropdown-item:not(:first-child) {
  border-top: 1px solid #DCDCDC;
}

.o_main_navbar ul.dropdown-menu {
  min-width: 200px;

  &.show {
    overflow: visible;
  }

  .dropdown-header {
    font-weight: normal;
  }

  .o_menu_header_lvl_2 {
    position: relative;
    padding: 11px 0 11px 16px;
    display: flex;
    justify-content: space-between;
    min-width: 200px;

    &.icon-right::after {
      font-family: 'carbon';
      content: '\e837';
      display: inline-block;
      margin-left: 0.255em;
      font-size: 18px;
      border: none;
      vertical-align: unset;
    }

    ul.sub-menu {
      position: absolute;
      top: 0;
      left: 100%;
      width: 200px;
      display: none;
      background-color: #FFFFFF;
      color: #565656;
      padding: 0;
      box-shadow: -5px 2px 7px 0px #e8e8e8;

      a {
        padding: 11px 0 11px 16px;

        &:hover {
          background-color: #E5E5E5;
        }
      }
    }

    &:hover {
      background-color: #E5E5E5;

      ul.sub-menu {
        display: block;
      }
    }
  }
}
