// Label size - default odoo = 150


.cdm_kanban {
  &.o_kanban_view.o_kanban_ungrouped .o_kanban_record {
    margin: 0 0 15px;
    padding: 15px;

    &.size-fw {
      width: 100%;
    }
  }

  .o_kanban_record {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);

    &:after {
      display: none;
    }
  }
}
