.login_wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #F3F3F3;
}

.login_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 32px;

  h4 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
  }
}

.login_container {
  .card-body {
    padding: 35px 57px;
  }

  .form-group label {
    font-size: 12px;
    font-weight: 400;
  }

  input[type=text], input[type=password] {
    height: 40px;
    background-color: #F3F3F3;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 2px 16px;
    border-bottom: 1px solid $color_border;
  }

  //button[type=submit] {
  //  line-height: 1;
  //  height: 40px;
  //}

  .field-db {
    input[type=text] {
      width: auto;
    }
  }

  .logo_wrapper {
    img {
      max-height: 120px;
      max-width: 100%;
      width: 170px;
    }
  }
}
