// Label size - default odoo = 150
.o_modal_full {
  .modal-dialog {
    max-width: 100%;
    padding: 0;
  }
}

.modal-header {
  padding: 16px;
  justify-content: flex-start;

  button.close {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: $color_bgc;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-shadow: none;
    position: absolute;
    opacity: 1;
    top: 0;
    right: 0;
    font-weight: 400;

    &:after {
      font-family: 'carbon';
      content: '\e83a';
      font-size: 16px;
    }
  }

  .action-buttons {
    padding-right: 50px;
    padding-left: 30px;

    button {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

.modal-title {
  font-size: 20px;
  font-weight: 400;
  flex: 1;
}

.modal-footer {
  padding: 20px 16px 16px 16px;
}

.modal .modal-dialog .o_form_view.cdm-form-dual-col .oe_chatter {
  display: block;
}

.o_modal_full {
  .modal-content, .o_content, .cdm-form-dual-col {
    height: 100%;
  }
}

.input_form {
  .o_view_controller .o_form_view.o_form_editable footer {
    display: none;
  }
}
