///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-root-font-size: 12px;
$o-font-size-base: 13rem * (1px / $o-root-font-size);
$o-line-height-base: 1.5; // This is BS default

// Colors
$o-community-color: #0354E9;
$o-enterprise-color: #0354E9;
$o-enterprise-primary-color: #0354E9;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$o-brand-secondary: #f0eeee;
$o-brand-lightsecondary: #e2e2e0;
$o-gray-100: #f8f9fa; // This is BS default

$o-main-color-muted: #a8a8a8;
$o-main-text-color: #4c4c4c;

$o-view-background-color: white;
$o-shadow-color: #303030;

$o-form-lightsecondary: #ccc;

$o-list-footer-bg-color: #eee;
$o-list-footer-font-weight: bold;

$o-tooltip-background-color: black;
$o-tooltip-color: white;
$o-tooltip-arrow-color: black;
$o-tooltip-text-color: #777777;
$o-tooltip-title-text-color: #4c4c4c;

$o-navbar-height: 48px;

// Theme colors
$o-theme-color-palettes: (
    (
        'alpha': $o-enterprise-primary-color,
        'beta': $o-enterprise-color,
        'gamma': #5C5B80,
        'delta': #5B899E,
        'epsilon': #E46F78,
    ),
);
