.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
  background-color: transparent;
  border-bottom: solid 1px #dcdcdc;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 0px !important;
}

.o_base_settings .o_setting_container .settings > .app_settings_block h2:first-of-type {
  margin-top: 12px;
}

.o_settings_container .o_setting_box .o_setting_right_pane {
  margin-left: 0;
  border-left: none;
  padding-left: 0;
}

.o_base_settings .o_setting_container .settings_tab {
  background: #f3f3f3;
  border-right: 1px solid #DCDCDC;
  padding-top: 0px;
}

.o_base_settings .o_setting_container .settings_tab .tab .app_name {
  color: #3d3d3d
}

.o_base_settings .o_setting_container .settings_tab .selected {
  background: #e5e5e5;
}

.o_control_panel {
  border-bottom: 1px solid #DCDCDC;
}

.breadcrumb, .o_control_panel, .o_form_view .o_form_statusbar, .o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput {
  background: #fff;
}

.o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput {
  height: 32px;
  border-bottom: 1px solid #ced4da;
}

.o_base_settings .o_control_panel .o_panel .o_setting_search .searchIcon {
  right: 16px;
  font-size: 14px
}

.o_base_settings {
  width: 65%;
  min-width: 1000px;
  border-right: solid 1px #ced4da;

  .text-muted {
    color: #3d3d3d !important;
    font-style: italic;
    font-size: 12px;
  }

  #about {
    display: none;
  }

  .o_input {
    border: none;
    border-bottom: 1px solid #ccc !important;
    padding: 4px 8px;
    min-height: 32px;
  }

  .o_panel .title {
    font-size: 18px;
    font-style: normal;
  }

  .o_control_panel .o_panel .o_setting_search {
    font-size: 14px;
    font-style: normal;
  }
}

.o_base_settings .o_input {
  min-height: 40px;
}

.app_settings_block {
  .o_user_emails.mt8 {
    margin-top: 0 !important;
  }
}