.o_controller_with_searchpanel .o_search_panel {
  flex: 0 0 auto;
  padding: 0;
  background-color: #F3F3F3;
  transition: all 0.3s;
  display: block;
  position: relative;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;

  .search_panel_inner {
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .list-group-item {
    padding: 0;
    background-color: transparent;
  }

  .o_search_panel_section_header {
    border-bottom: 1px solid #DCDCDC;
    white-space: nowrap;
    padding: 10px 24px 10px 14px;
    color: inherit;
    display: block;
    position: relative;

    .icon {
      font-weight: 600;
    }

    .caret {
      font-size: 18px;
      position: absolute;
      top: 11px;
      right: 12px;
      transition: all 0.3s;
    }

    b {
      font-weight: 600;
      margin-left: 5px;
    }
  }

  section.collapsed {
    .o_search_panel_section_header {
      .caret {
        transform: rotate(-90deg);
      }
    }
  }

  .o_search_panel_category_value header {
    line-height: 20px;
    padding: 14px 12px;
  }

  .o_search_panel_category, .o_search_panel_filter {
    .o_search_panel_section_icon {
      color: inherit;
      font-size: 18px;
    }
  }


  .o_search_panel_category_value header {
    margin: 0;
    border-left: 3px solid transparent;
    transition: border-color 0.3s, background-color 0.3s;

    &.active, &:hover {
      background-color: #E5E5E5;
    }

    &.active {
      border-left-color: $o-brand-primary;
      font-weight: bold;
    }
  }

  .o_search_panel_filter_value {
    line-height: 20px;
    padding: 12px;

    .o_search_panel_label {
      padding-top: 2px;
      width: 208px;
      white-space: nowrap;
    }

    .o_search_panel_label_title {
      flex: 1;
    }

    .search_count {
      padding-left: 12px;
      line-height: 22px;
      text-align: right;
    }
  }

  .toggle-sidebar {
    height: auto;
    white-space: nowrap;
  }

  &.searchpanel_collapsed {
    width: 48px;
    overflow: visible;

    .search_panel_inner {
      overflow: visible;
    }

    .toggle-sidebar .icon:before {
      transform: rotateY(180deg);
    }

    .o_search_panel_section {
      position: relative;
    }

    .o_search_panel_field, {
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 1000;
      width: 250px;
      background-color: #F3F3F3;
      border: 1px solid #DCDCDC;
    }

    .o_search_panel_field,
    .o_search_panel_section_header .caret,
    .o_search_panel_section_header b,
    .toggle-sidebar .text {
      display: none;
    }

    .o_search_panel_section:hover {
      .o_search_panel_field {
        display: block!important;
      }
    }
  }
}