@mixin active-menu-item {
  border-left: solid 3px transparent;

  &.active {
    background: #DDDDDD;
    border-left: solid 3px #0354E9;
    font-weight: bold;
  }

  ._content-menu {
    margin-left: -3px;
  }
}

#cdm_main_container {
  height: 100%;
  max-height: calc(100vh - 48px);
}

.sidebar-opened {
  padding-left: 250px;
  transition: padding-left 0.1s linear;

  &.sidebar-collapsed {
    padding-left: 48px;
    transition: padding-left 0.1s linear;

    .cdm_main_sidebar {
      width: 48px;
      transition: width 0.1s linear;

      .menu-wrapper-inner {
        display: none;
      }

      .toggle-sidebar {
        .text {
          display: none;
        }
      }
    }

    .groupby_sidebar {
      .dropdown-item {
        justify-content: center;
      }

      .text, .counter {
        display: none;
      }
    }
  }

  &.sidebar-icons-collapsed {
    padding-left: 48px;
    transition: padding-left 0.1s linear;

    .groupby_sidebar {
      .dropdown-item {
        justify-content: center;
      }

      .text, .counter {
        display: none;
      }
    }

    .cdm_main_sidebar {
      width: 48px;
      transition: width 0.1s linear;

      .o_menu_entry_lvl_2, .o_menu_header_lvl_2 {
        cursor: pointer;

        span.text {
          display: none;
        }
      }

      .o_sub_menu_lvl_2 {
        display: none;
      }

      .toggle-sidebar {
        .text {
          display: none;
        }
      }
    }

    .o_menu_lvl_2 {
      position: relative;

      //&:hover .o_sub_menu_lvl_2 {
      //  display: block;
      //}
    }

    .submenu-header {
      display: block;
      font-weight: bold;
      border-bottom: 1px solid $border_color;
      margin: 0 14px;
      padding: 0 10px;
      width: auto;

      &:hover {
        background-color: transparent;
      }
    }

    .o_sub_menu_lvl_2 {
      position: fixed;
      top: -100%;
      left: 47px;
      width: 250px;
      background: #fff;
      border: 1px solid $border_color;

      > a {
        padding-left: 14px;

        &:before {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: $o_brand-primary;
          border-radius: 50%;
          margin-right: 14px;
        }
      }
    }

    .dropdown-header {
      @include active-menu-item;
    }

    .o_menu_header_lvl_2 {
      border-bottom: none;
    }

    .o_menu_lvl_2, .o_menu_entry_lvl_2 {
      &:last-child {
        border-bottom: 1px solid #DCDCDC;
      }
    }
  }

  .o_list_view .o_list_table {
    table-layout: auto !important;
  }
}


.o_action_manager {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.o_action {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &.o_list_controller {
    height: 100%;

    .o_content {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.cdm_main_sidebar {
  display: none;
  position: fixed;
  width: 250px;
  background: #F3F3F3;
  border-right: 1px solid #DCDCDC;
  height: calc(100% - 48px);
  top: 48px;
  left: 0;
  transition: width 0.1s linear;
  z-index: 100;

  .menu-wrapper {
    overflow: hidden auto;
    height: calc(100% - 48px);

    .icon {
      font-weight: bold;
      font-size: 20px;
      margin-right: 15px;
    }
  }

  //.sidebar_menu {
  //  padding-top: 1px;
  //}

  .dropdown-item {
    padding: 0 10px 0 14px;
    color: #3D3D3D;
    display: flex;
    align-items: center;
    height: 47px;
    line-height: 47px;

    @include active-menu-item;
  }

  .dropdown-header {
    color: #4c4c4c;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-left: solid 3px transparent;

    > span.icon {
      margin-left: -3px;
    }
  }

  .o_menu_lvl_2, .o_menu_entry_lvl_2 {
    border-top: 1px solid #DCDCDC;

    &:first-child {
      border-top: none;
    }
  }

  .o_menu_header_lvl_2 {
    border-bottom: 1px solid #DCDCDC;
  }

  .o_menu_entry_lvl_2, .o_menu_header_lvl_2 {
    padding: 0 10px 0 14px;
    height: 47px;
    line-height: 47px;

    &.between {
      display: flex;
      justify-content: space-between;
    }

    ._content-menu {
      overflow: hidden;
      padding-right: 10px;
      width: 100%;
      display: flex;
    }

    .counter {
      font-weight: 500;
    }

    span.text {
      text-overflow: ellipsis;
      overflow: hidden;
      //width: 180px;
      display: block;
    }
  }

  .o_sub_menu_lvl_2 {
    ._content-menu {
      display: flex;
      flex-flow: row;
      align-items: center;
    }
  }

  .submenu-header {
    display: none;
  }

  .o_menu_entry_lvl_3 {
    padding-left: 35px;
  }
}

.toggle-sidebar {
  height: 48px;
  line-height: 48px;
  display: flex;
  padding: 0 13px;
  border-top: 1px solid $border_color;
  cursor: pointer;
  color: inherit;

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  &:hover {
    background-color: #DFDFDF;
    color: inherit;
  }
}
