// Label size - default odoo = 150
$label-size: 100, 150, 200, 250, 300, 350, 400, 450, 500;
@each $size in $label-size {
  .o_form_view .o_group.o_inner_group.label-#{$size} > tbody > tr > td.o_td_label {
    min-width: $size*1px;
  }
}

.nowrap {
  white-space: nowrap;
}
