/*Font Light*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeueLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/*Font Regular*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeueItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*Font Bold*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./HelveticaNeueBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}