@font-face {
  font-family: 'carbon';
  src: url('./carbon.eot?60427001');
  src: url('./carbon.eot?60427001#iefix') format('embedded-opentype'),
       url('./carbon.woff2?60427001') format('woff2'),
       url('./carbon.woff?60427001') format('woff'),
       url('./carbon.ttf?60427001') format('truetype'),
       url('./carbon.svg?60427001#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25958995#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'carbon';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  /*margin-right: .2em;*/
  text-align: center;
  font-size: inherit;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  /*line-height: 1em;*/

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-accessibility:before { content: '\e800'; } /* '' */
.icon-activity:before { content: '\e801'; } /* '' */
.icon-add:before { content: '\e802'; } /* '' */
.icon-aligh_center:before { content: '\e803'; } /* '' */
.icon-align_left:before { content: '\e804'; } /* '' */
.icon-align_right:before { content: '\e805'; } /* '' */
.icon-analytics:before { content: '\e806'; } /* '' */
.icon-api:before { content: '\e807'; } /* '' */
.icon-app_switcher:before { content: '\e808'; } /* '' */
.icon-application:before { content: '\e809'; } /* '' */
.icon-archive:before { content: '\e80a'; } /* '' */
.icon-arrival:before { content: '\e80b'; } /* '' */
.icon-arrow_down_left:before { content: '\e80c'; } /* '' */
.icon-arrow_down_right:before { content: '\e80d'; } /* '' */
.icon-arrow_down:before { content: '\e80e'; } /* '' */
.icon-arrow_horizontal:before { content: '\e80f'; } /* '' */
.icon-arrow_left:before { content: '\e810'; } /* '' */
.icon-arrow_right:before { content: '\e811'; } /* '' */
.icon-arrow_up_left:before { content: '\e812'; } /* '' */
.icon-arrow_up_right:before { content: '\e813'; } /* '' */
.icon-arrow_up:before { content: '\e814'; } /* '' */
.icon-arrow_vertical:before { content: '\e815'; } /* '' */
.icon-asleep:before { content: '\e816'; } /* '' */
.icon-at:before { content: '\e817'; } /* '' */
.icon-attachment:before { content: '\e818'; } /* '' */
.icon-bee:before { content: '\e819'; } /* '' */
.icon-blog:before { content: '\e81a'; } /* '' */
.icon-bluetooth:before { content: '\e81b'; } /* '' */
.icon-bolt:before { content: '\e81c'; } /* '' */
.icon-bookmark:before { content: '\e81d'; } /* '' */
.icon-calculator:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-camera_action:before { content: '\e820'; } /* '' */
.icon-camera:before { content: '\e821'; } /* '' */
.icon-car:before { content: '\e822'; } /* '' */
.icon-caret_down:before { content: '\e823'; } /* '' */
.icon-caret_left:before { content: '\e824'; } /* '' */
.icon-caret_right:before { content: '\e825'; } /* '' */
.icon-caret_up:before { content: '\e826'; } /* '' */
.icon-catalog:before { content: '\e827'; } /* '' */
.icon-chart_bar:before { content: '\e828'; } /* '' */
.icon-chart_bubble:before { content: '\e829'; } /* '' */
.icon-chart_line:before { content: '\e82a'; } /* '' */
.icon-chart_network:before { content: '\e82b'; } /* '' */
.icon-chart_venn_diagram:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-checkbox_checked_filled:before { content: '\e82e'; } /* '' */
.icon-checkbox_checked:before { content: '\e82f'; } /* '' */
.icon-checkbox_undeterminate_filled:before { content: '\e830'; } /* '' */
.icon-checkbox_undeterminate:before { content: '\e831'; } /* '' */
.icon-checkbox:before { content: '\e832'; } /* '' */
.icon-checkmark_filled:before { content: '\e833'; } /* '' */
.icon-checkmart:before { content: '\e834'; } /* '' */
.icon-chevron_down:before { content: '\e835'; } /* '' */
.icon-chevron_left:before { content: '\e836'; } /* '' */
.icon-chevron_right:before { content: '\e837'; } /* '' */
.icon-chevron_up:before { content: '\e838'; } /* '' */
.icon-chip:before { content: '\e839'; } /* '' */
.icon-close:before { content: '\e83a'; } /* '' */
.icon-cloud_download:before { content: '\e83b'; } /* '' */
.icon-cloud_lightning:before { content: '\e83c'; } /* '' */
.icon-cloud_rain:before { content: '\e83d'; } /* '' */
.icon-cloud_snow:before { content: '\e83e'; } /* '' */
.icon-cloud_upload:before { content: '\e83f'; } /* '' */
.icon-cloud:before { content: '\e840'; } /* '' */
.icon-code:before { content: '\e841'; } /* '' */
.icon-column:before { content: '\e842'; } /* '' */
.icon-compass:before { content: '\e843'; } /* '' */
.icon-connect:before { content: '\e844'; } /* '' */
.icon-copy:before { content: '\e845'; } /* '' */
.icon-crop:before { content: '\e846'; } /* '' */
.icon-cut:before { content: '\e847'; } /* '' */
.icon-data_check:before { content: '\e848'; } /* '' */
.icon-data_error:before { content: '\e849'; } /* '' */
.icon-data_set:before { content: '\e84a'; } /* '' */
.icon-data_structured:before { content: '\e84b'; } /* '' */
.icon-data_unstructured:before { content: '\e84c'; } /* '' */
.icon-data1:before { content: '\e84d'; } /* '' */
.icon-data2:before { content: '\e84e'; } /* '' */
.icon-database:before { content: '\e84f'; } /* '' */
.icon-debug:before { content: '\e850'; } /* '' */
.icon-delicious:before { content: '\e851'; } /* '' */
.icon-delivery_truck:before { content: '\e852'; } /* '' */
.icon-departure:before { content: '\e853'; } /* '' */
.icon-desktop:before { content: '\e854'; } /* '' */
.icon-diagram:before { content: '\e855'; } /* '' */
.icon-digg:before { content: '\e856'; } /* '' */
.icon-document_add:before { content: '\e857'; } /* '' */
.icon-document_suctract:before { content: '\e858'; } /* '' */
.icon-document_task:before { content: '\e859'; } /* '' */
.icon-document:before { content: '\e85a'; } /* '' */
.icon-down_to_bottom:before { content: '\e85b'; } /* '' */
.icon-download:before { content: '\e85c'; } /* '' */
.icon-draggable:before { content: '\e85d'; } /* '' */
.icon-dvr:before { content: '\e85e'; } /* '' */
.icon-edit:before { content: '\e85f'; } /* '' */
.icon-email:before { content: '\e860'; } /* '' */
.icon-error_filled:before { content: '\e861'; } /* '' */
.icon-error:before { content: '\e862'; } /* '' */
.icon-event_schedule:before { content: '\e863'; } /* '' */
.icon-event:before { content: '\e864'; } /* '' */
.icon-export:before { content: '\e865'; } /* '' */
.icon-face_-dissatisfied_filled:before { content: '\e866'; } /* '' */
.icon-face_-dissatisfied:before { content: '\e867'; } /* '' */
.icon-face_activated_filled:before { content: '\e868'; } /* '' */
.icon-face_activated:before { content: '\e869'; } /* '' */
.icon-face_dizzy_filled:before { content: '\e86a'; } /* '' */
.icon-face_dizzy:before { content: '\e86b'; } /* '' */
.icon-face_neural:before { content: '\e86c'; } /* '' */
.icon-face_neutral_filled:before { content: '\e86d'; } /* '' */
.icon-face_pending_filled:before { content: '\e86e'; } /* '' */
.icon-face_pending:before { content: '\e86f'; } /* '' */
.icon-face_satisfied_filled:before { content: '\e870'; } /* '' */
.icon-face_satisfied:before { content: '\e871'; } /* '' */
.icon-face_wink_filled:before { content: '\e872'; } /* '' */
.icon-face_wink:before { content: '\e873'; } /* '' */
.icon-facebook:before { content: '\e874'; } /* '' */
.icon-fade:before { content: '\e875'; } /* '' */
.icon-favorite:before { content: '\e876'; } /* '' */
.icon-favourite_filled:before { content: '\e877'; } /* '' */
.icon-filter:before { content: '\e878'; } /* '' */
.icon-fingerprint:before { content: '\e879'; } /* '' */
.icon-phone-out:before { content: '\e87a'; } /* '' */
.icon-flow:before { content: '\e87b'; } /* '' */
.icon-folder_add:before { content: '\e87c'; } /* '' */
.icon-folder:before { content: '\e87d'; } /* '' */
.icon-forum:before { content: '\e87e'; } /* '' */
.icon-gif:before { content: '\e87f'; } /* '' */
.icon-github:before { content: '\e880'; } /* '' */
.icon-globe:before { content: '\e881'; } /* '' */
.icon-googleplus:before { content: '\e882'; } /* '' */
.icon-grid:before { content: '\e883'; } /* '' */
.icon-hd:before { content: '\e884'; } /* '' */
.icon-hdfilled:before { content: '\e885'; } /* '' */
.icon-hdr:before { content: '\e886'; } /* '' */
.icon-help_filled:before { content: '\e887'; } /* '' */
.icon-help:before { content: '\e888'; } /* '' */
.icon-hotel:before { content: '\e889'; } /* '' */
.icon-idea:before { content: '\e88a'; } /* '' */
.icon-image:before { content: '\e88b'; } /* '' */
.icon-indent_less:before { content: '\e88c'; } /* '' */
.icon-indent_more:before { content: '\e88d'; } /* '' */
.icon-indent:before { content: '\e88e'; } /* '' */
.icon-industry:before { content: '\e88f'; } /* '' */
.icon-information_filled:before { content: '\e890'; } /* '' */
.icon-information:before { content: '\e891'; } /* '' */
.icon-insert:before { content: '\e892'; } /* '' */
.icon-launch:before { content: '\e893'; } /* '' */
.icon-light:before { content: '\e894'; } /* '' */
.icon-link:before { content: '\e895'; } /* '' */
.icon-linkedin:before { content: '\e896'; } /* '' */
.icon-list_bulleted:before { content: '\e897'; } /* '' */
.icon-list_checked:before { content: '\e898'; } /* '' */
.icon-list_numbered:before { content: '\e899'; } /* '' */
.icon-list:before { content: '\e89a'; } /* '' */
.icon-livestream:before { content: '\e89b'; } /* '' */
.icon-location:before { content: '\e89c'; } /* '' */
.icon-locked:before { content: '\e89d'; } /* '' */
.icon-mac_command:before { content: '\e89e'; } /* '' */
.icon-mac_option:before { content: '\e89f'; } /* '' */
.icon-mac_shift:before { content: '\e8a0'; } /* '' */
.icon-map:before { content: '\e8a1'; } /* '' */
.icon-maximize:before { content: '\e8a2'; } /* '' */
.icon-menu:before { content: '\e8a3'; } /* '' */
.icon-microphone_off:before { content: '\e8a4'; } /* '' */
.icon-microphone:before { content: '\e8a5'; } /* '' */
.icon-migrate:before { content: '\e8a6'; } /* '' */
.icon-minimize:before { content: '\e8a7'; } /* '' */
.icon-misuse:before { content: '\e8a8'; } /* '' */
.icon-mobile_add:before { content: '\e8a9'; } /* '' */
.icon-mobile_check:before { content: '\e8aa'; } /* '' */
.icon-mobile_download:before { content: '\e8ab'; } /* '' */
.icon-mobile:before { content: '\e8ac'; } /* '' */
.icon-move:before { content: '\e8ad'; } /* '' */
.icon-newtab:before { content: '\e8ae'; } /* '' */
.icon-notification_off:before { content: '\e8af'; } /* '' */
.icon-notification:before { content: '\e8b0'; } /* '' */
.icon-mediclowd-logo:before { content: '\e8b1'; } /* '' */
.icon-viber:before { content: '\e8b2'; } /* '' */
.icon-page_first:before { content: '\e8b3'; } /* '' */
.icon-page_last:before { content: '\e8b4'; } /* '' */
.icon-panel_expansion:before { content: '\e8b5'; } /* '' */
.icon-parent_child:before { content: '\e8b6'; } /* '' */
.icon-partnership:before { content: '\e8b7'; } /* '' */
.icon-password:before { content: '\e8b8'; } /* '' */
.icon-paste:before { content: '\e8b9'; } /* '' */
.icon-pause_outline:before { content: '\e8ba'; } /* '' */
.icon-pause:before { content: '\e8bb'; } /* '' */
.icon-pdf:before { content: '\e8bc'; } /* '' */
.icon-person:before { content: '\e8bd'; } /* '' */
.icon-phone_off:before { content: '\e8be'; } /* '' */
.icon-phone:before { content: '\e8bf'; } /* '' */
.icon-pin:before { content: '\e8c0'; } /* '' */
.icon-pinterest:before { content: '\e8c1'; } /* '' */
.icon-plane:before { content: '\e8c2'; } /* '' */
.icon-play_outline:before { content: '\e8c3'; } /* '' */
.icon-play:before { content: '\e8c4'; } /* '' */
.icon-png:before { content: '\e8c5'; } /* '' */
.icon-popup:before { content: '\e8c6'; } /* '' */
.icon-power:before { content: '\e8c7'; } /* '' */
.icon-presentation_file:before { content: '\e8c8'; } /* '' */
.icon-printer:before { content: '\e8c9'; } /* '' */
.icon-purchase:before { content: '\e8ca'; } /* '' */
.icon-quora:before { content: '\e8cb'; } /* '' */
.icon-radiobutton_checked:before { content: '\e8cc'; } /* '' */
.icon-radiobutton:before { content: '\e8cd'; } /* '' */
.icon-recommend:before { content: '\e8ce'; } /* '' */
.icon-recording:before { content: '\e8cf'; } /* '' */
.icon-renew:before { content: '\e8d0'; } /* '' */
.icon-repeat:before { content: '\e8d1'; } /* '' */
.icon-reply:before { content: '\e8d2'; } /* '' */
.icon-report:before { content: '\e8d3'; } /* '' */
.icon-request_quote:before { content: '\e8d4'; } /* '' */
.icon-reset:before { content: '\e8d5'; } /* '' */
.icon-restart:before { content: '\e8d6'; } /* '' */
.icon-restaurant:before { content: '\e8d7'; } /* '' */
.icon-rocket:before { content: '\e8d8'; } /* '' */
.icon-rolate:before { content: '\e8d9'; } /* '' */
.icon-row:before { content: '\e8da'; } /* '' */
.icon-rss:before { content: '\e8db'; } /* '' */
.icon-run:before { content: '\e8dc'; } /* '' */
.icon-save:before { content: '\e8dd'; } /* '' */
.icon-scale:before { content: '\e8de'; } /* '' */
.icon-scan:before { content: '\e8df'; } /* '' */
.icon-search:before { content: '\e8e0'; } /* '' */
.icon-setting:before { content: '\e8e1'; } /* '' */
.icon-share:before { content: '\e8e2'; } /* '' */
.icon-shopping_bag:before { content: '\e8e3'; } /* '' */
.icon-shopping_cart:before { content: '\e8e4'; } /* '' */
.icon-shuttle:before { content: '\e8e5'; } /* '' */
.icon-skip_back:before { content: '\e8e6'; } /* '' */
.icon-skip_forward:before { content: '\e8e7'; } /* '' */
.icon-skype:before { content: '\e8e8'; } /* '' */
.icon-slack:before { content: '\e8e9'; } /* '' */
.icon-snapchat:before { content: '\e8ea'; } /* '' */
.icon-spell_check:before { content: '\e8eb'; } /* '' */
.icon-split_screen:before { content: '\e8ec'; } /* '' */
.icon-star_filled:before { content: '\e8ed'; } /* '' */
.icon-star_half:before { content: '\e8ee'; } /* '' */
.icon-star:before { content: '\e8ef'; } /* '' */
.icon-stop_outline:before { content: '\e8f0'; } /* '' */
.icon-stop:before { content: '\e8f1'; } /* '' */
.icon-stumbleupon:before { content: '\e8f2'; } /* '' */
.icon-subtract:before { content: '\e8f3'; } /* '' */
.icon-svg:before { content: '\e8f4'; } /* '' */
.icon-table_split:before { content: '\e8f5'; } /* '' */
.icon-table:before { content: '\e8f6'; } /* '' */
.icon-tablet_of_content:before { content: '\e8f7'; } /* '' */
.icon-tag:before { content: '\e8f8'; } /* '' */
.icon-task:before { content: '\e8f9'; } /* '' */
.icon-template:before { content: '\e8fa'; } /* '' */
.icon-temprature:before { content: '\e8fb'; } /* '' */
.icon-terminal:before { content: '\e8fc'; } /* '' */
.icon-text_bold:before { content: '\e8fd'; } /* '' */
.icon-text_color:before { content: '\e8fe'; } /* '' */
.icon-text_creation:before { content: '\e8ff'; } /* '' */
.icon-text_fill:before { content: '\e900'; } /* '' */
.icon-text_highlight:before { content: '\e901'; } /* '' */
.icon-text_italic:before { content: '\e902'; } /* '' */
.icon-text_scale:before { content: '\e903'; } /* '' */
.icon-text_selection:before { content: '\e904'; } /* '' */
.icon-text_underline:before { content: '\e905'; } /* '' */
.icon-ticket:before { content: '\e906'; } /* '' */
.icon-tiff:before { content: '\e907'; } /* '' */
.icon-time:before { content: '\e908'; } /* '' */
.icon-tools:before { content: '\e909'; } /* '' */
.icon-translate:before { content: '\e90a'; } /* '' */
.icon-tumblr:before { content: '\e90b'; } /* '' */
.icon-twitter:before { content: '\e90c'; } /* '' */
.icon-unlocked:before { content: '\e90d'; } /* '' */
.icon-upload:before { content: '\e90e'; } /* '' */
.icon-uptotop:before { content: '\e90f'; } /* '' */
.icon-user_admin:before { content: '\e910'; } /* '' */
.icon-user_avatar:before { content: '\e911'; } /* '' */
.icon-user_collaborate:before { content: '\e912'; } /* '' */
.icon-user_follow:before { content: '\e913'; } /* '' */
.icon-user_group:before { content: '\e914'; } /* '' */
.icon-user_online:before { content: '\e915'; } /* '' */
.icon-user_role:before { content: '\e916'; } /* '' */
.icon-user:before { content: '\e917'; } /* '' */
.icon-van:before { content: '\e918'; } /* '' */
.icon-video_add:before { content: '\e919'; } /* '' */
.icon-video_chat:before { content: '\e91a'; } /* '' */
.icon-video_off:before { content: '\e91b'; } /* '' */
.icon-video:before { content: '\e91c'; } /* '' */
.icon-view:before { content: '\e91d'; } /* '' */
.icon-viewmode_2:before { content: '\e91e'; } /* '' */
.icon-viewmode:before { content: '\e91f'; } /* '' */
.icon-volume_down:before { content: '\e920'; } /* '' */
.icon-volume_mute:before { content: '\e921'; } /* '' */
.icon-volume_up:before { content: '\e922'; } /* '' */
.icon-vpn:before { content: '\e923'; } /* '' */
.icon-warning_alt_filled:before { content: '\e924'; } /* '' */
.icon-warning_alt:before { content: '\e925'; } /* '' */
.icon-warning_filled:before { content: '\e926'; } /* '' */
.icon-warning:before { content: '\e927'; } /* '' */
.icon-watson:before { content: '\e928'; } /* '' */
.icon-wiki:before { content: '\e929'; } /* '' */
.icon-workspace:before { content: '\e92a'; } /* '' */
.icon-xing:before { content: '\e92b'; } /* '' */
.icon-youtube:before { content: '\e92c'; } /* '' */
.icon-zoom_in:before { content: '\e92d'; } /* '' */
.icon-zoom_out:before { content: '\e92e'; } /* '' */
.icon-artboard-1:before { content: '\e92f'; } /* '' */
.icon-qr-code:before { content: '\e931'; } /* '' */
.icon-phone-in:before { content: '\e932'; } /* '' */
.icon-messenger-1:before { content: '\e933'; } /* '' */
.icon-icon-overflow_menu_vertical:before { content: '\e934'; } /* '' */
.icon-home:before { content: '\e935'; } /* '' */